.body{
    margin: 0%;
}

.cabeçalho{
    background-color: #FF9E9E;
    display: flex; 
    align-items: center;
    justify-content: space-between; 

}

.titulo-corpo{
    display: flex;
    justify-content: center;
}

.div-imagem-p1{
    display: flex;
    justify-content: space-around;
}