.body{
    padding: 0px;
    margin: 0px;
}

.cabeçalho{
    margin: 0px;
    padding: 0px;
    background-color: #FF9E9E;
    display: flex; 
    align-items: center;
    justify-content: space-between; 

}

.titulo-corpo{
    display: flex;
    justify-content: center;
}

.div-imagem-p1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;

}

.imagem-p1{
    width: 400px;
}